* {
  font-family: Roboto, "Helvetica Neue";
}

html, 
body, 
#root, 
.app {
  height: 100%;
}

#sidebar {
  border-right: 1px solid #ebeef0;
  display: inline-block;
  width: 70px;
  text-align: center;
}

#nav {
  display: inline-block;
  font-weight: bold;
}

.nav-icon {
  border-radius: 9999px;
  align-items: center;
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  padding: 12px;
}


.nav-icon:hover {
  background-color: #E8F5FE;
  color: #1DA1F2;
}

#tweet-button {
  background-color: #1DA1F2;
  border-radius: 9999px;
  display: inline-block;
  padding: none;
  height: 46px;
  width: 46px;
}


.tweet {
  border-right: 1px solid #ebeef0;
  border-top: 1px solid #ebeef0;
  border-bottom: 1px solid #ebeef0;
}

.fh {
  height: 100%;
}

#main-content {
  display: inline-block;
}



