* {
  font-family: Roboto, "Helvetica Neue"
}

#sidebar {
  border-right: 1px solid #ebeef0;
}
#nav {
  /* height: 100vh; */
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

/* ul */
#nav-list {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

#nav-list li {
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 10px 30px 10px 20px;
  margin-left: 0px;
}

#nav-list li:hover {
  background-color: #E8F5FE;
  color: #1DA1F2;
}

#tweet-button {
  background-color: #1DA1F2;
  border-radius: 30px;
  color: white;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 50px;
}

.tweet {
  border-right: 1px solid #ebeef0;
  border-top: 1px solid #ebeef0;
  border-bottom: 1px solid #ebeef0;
  /* display: inline-block; */
}

.fh {
  height: 100%;
}


